/*  your css code here. If applicable */

.main-hero{

	width: 1100px;
	height:400px
    color:green;
 	
}
.col-1,.col-3{
	width:200px;
	padding-left:10px;
}

h4{
	text-align:center;
}
.col-2{
	width:600px;
	text-align:center;
}
.table-1{

	  margin:1
	
}